$color-bg: rgb(16, 16, 16);
$color-internal: #1a1a1a;
$color-items: #202020;
$color-darkblue: #0c1738;
$color-blue: #3e465e;
$color-boldblue: #262b37;
$color-gray-text: #d0d0d0;
$color-bluelight: #a3bbff;
$color-opblue: #122353;
$color-green: #26492e65;
$color-red: #49262665;


$linear-gradient-bg: linear-gradient(transparent, $color-darkblue);

$br-default: 10px;