$color-bg: rgb(16, 16, 16);
$color-internal: #1a1a1a;
$color-items: #202020;
$color-darkblue: #0c1738;
$color-blue: #3e465e;
$color-boldblue: #262b37;
$color-gray-text: #d0d0d0;
$color-bluelight: #a3bbff;
$color-opblue: #122353;
$color-green: #26492e65;
$color-red: #49262665;


$light-internal: #eaeaea;
$light-items: #b6b6b6;
$light-darkblue: #2149c1;
$light-boldblue: #47577c;
$light-bluelight: #5b87ff;
$light-bluegray: #c0d1ff;
$light-gray: #c2c2c2;


$linear-gradient-bg: linear-gradient(transparent, $color-darkblue);
$linear-gradient-bg-light: linear-gradient(transparent,$light-bluelight);


$br-default: 10px;

.nav{
    animation-name: nav;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
}