@import './basics';

h2,h4,p, a{
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: $color-bg;

    #__next{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start; 
    }

}

.footer{
    position: relative;
    margin-top: auto;
    background-image: $linear-gradient-bg;
    padding: 10px;
    bottom: 0;

    p{
        color: white;
        text-align: center;
        margin: 0;

    }
}

.article{
    width: 70%;

    @media (max-width: 1200px) {
        width: 85%;
    }

    @media (max-width: 600px) {
        width: 100%;
    }


    &-base{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas: 
          "first first first"
          "mid mid mid"
          "two two three";
        
        &.extended{
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 800px) {
            grid-template-areas: 
            "first first first"
            "mid mid mid"
            "three three three"
            "two two two";
        }
    }
}

.tech-items{
    width: 36px;
    height: 36px;
}


.button-link{
    cursor: pointer;
    width: 100%;
    background-color: $color-boldblue;    
    color: $color-bluelight;
    border-radius: 50px;
    padding: 8px;
    margin: 5px;
    transition: background-color 0.2s, transform 0.3s;
    text-decoration: none;

    &.social{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        
        img{
            width: 28px;
            height: 28px;
        }
    }
    
    &:hover:not(:disabled){
        background-color: $color-blue;
    }

    &:active:not(:disabled){
        transform: scale(0.95);
    }

    &.extended{
        margin-inline: 0;
        display: flex;
        gap:5px;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        width: auto;

        p{
            color: $color-bluelight;
            margin: 0;
        }

        &.minimal{
            width: 128px;

            @media (max-width: 600px) {
                padding-inline: 15px;
                width: 85px;
            }
        }

    }

    &.active, &.light{
        background-color: $color-blue;
        border: 1px solid $color-bluelight;
        box-sizing: content-box;

        &:hover{
            background-color: $color-boldblue;
        }
    }

    &.light{
        width: 120px;
        border-radius: $br-default;
        margin: 0;
        border: none !important;

        p{
            font-size: small;
        }

        svg{
            width: 14px;
            height: 14px;
        }
    }

    &.submit{
        color: $color-bluelight;
        border: 0;
        margin-inline: 20px;

        svg{
            width: 16px;
            height: 16px;
        }
    }

    &:disabled{
        opacity: 0.5;

    }

}

.personal-item{
    border-radius: $br-default;
    padding-inline: 10px;
    background-color: $color-items;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid $color-blue;
    justify-content:space-between;
    align-items: center;
    height: 48px;

    *{
        margin: 0;
    }    

    h4{
        color: $color-bluelight;
    }

    p{
        color: white;
    }

}

.fa{
    &-sm{
        width: 22px;
        height: 22px;
    }

    &-ssm{
        width: 18px;
        height: 18px;
    }
}

.color-blue{
    color: $color-bluelight;
}

.nav{
    z-index: 50;
    position:sticky;
    top: 0;

    &-bar{
        height: 54px;
        border-radius: $br-default;
        background-color: $color-internal;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        grid-area: mid;
    }
}

.project{
    font-family: 'Poppins';
    background-color: rgb(8, 8, 8);
    outline: 2px solid $color-blue;
    border-radius: $br-default;
    display: flex;
    flex-direction: column;
    width: 45%;

    @media (max-width: 880px) {
        width: 75%;
    }

    @media (max-width: 600px) {
        width: 95%;
    }

    &-img{
        border-radius: $br-default $br-default 0 0;
        width: auto;
        height: auto;
        aspect-ratio: auto;
        border-bottom: 1px solid $color-blue;
    }

    &-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: $linear-gradient-bg;
        padding: 10px;
        text-align: start;
        height: 100%;
        
        &-tech{
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            filter: invert(1);
            margin: 15px 0;
        }

        &-details{
            margin: 0 12px;

            h3, p{
                margin: 0;
            }

            h3{
                font-size: xx-large;
                color: $color-bluelight;
            }
        }

    }

    &-buttons{
        display: flex !important;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        margin: 0 !important;
    }
}

.contact{

    &-elements{
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-inline: 40px;

        @media (max-width: 800px) {
            margin-inline: 20px;
        }
        

        &-middle{
            display: flex;
            gap: 10px;
            
            @media (max-width: 600px) {
                flex-direction: column;
            }
        }

        &-column{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &-social{
        &-elements{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-title{
            text-align: center;            
        }
    }

    &-contain{
        display: grid;
        grid-template-columns: 2fr 1fr;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }
    }
}

.input-contact{
    box-sizing: border-box;
    border-radius: $br-default;
    padding-inline: 10px;
    width: 100%;
    height: 48px;
    border: 0;
    border-bottom: 2px solid $color-blue;
    background-color: $color-bg;
    color: white;
    transition: background-color 0.2s, outline 0.5s;

    &:focus{
        outline: 1px solid $color-bluelight;
        background-color: $color-items;
    }

    &.subject{
        font-family: 'Poppins';
        padding: 10px;
        height: 128px;
        resize: none;
    }
}

.plane-text{
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    animation: entry 0.5s;

    &.send{
        background-color: $color-green;
    }

    &.no-send{
        background-color: $color-red;
    }

}

.text-center{
    margin-top: 0;
    text-align: center;
}

@keyframes entry {
    0% {
        opacity: 0;
        transform: scaleY(0.3);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}