@import './basics';

.section {
    &-panel {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-inline: 25px;
      margin-top: 15px;
      gap: 5px;

      &-search{
        z-index: 12;
        border-radius: $br-default;
        padding: 10px;
        background-color: $color-bg;
        display: flex;
        gap: 10px;
        width: 100%;

        input{
            color: white;
            background-color: $color-bg;
            outline: none;
            border: none;
            width: max-content;
            width: -webkit-fill-available;
        }

        

      }
  
      &-tag {
        padding: 5px;
        max-width: 100%;
        overflow-x:hidden;
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;

      }

      &-control{
        display: flex;
        max-width: 100%;
      }
    }
  }

.filter-button{
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    color: $color-bluelight;
    border: none;
    outline: none;
    background-color: $color-blue;
    transition: transform 0.5s, background-color 0.2s;
    
    &.marked{
        outline: $color-bluelight 2px solid;
    }

    &:active{
        transform: scale(0.95);
    }

    span{
        white-space: nowrap;
    }

    &-scroll{
        z-index: 10;
        background-color: $color-bg;
        @extend .filter-button;
        border-radius: 10%;
        min-width: 32px;
        min-height: 32px;
        height: 32px;

        &.left{
            box-shadow: 5px 0 10px 10px $color-internal;
        }

        &.right{
            box-shadow: -5px 0 10px 10px $color-internal;
        }

        &:hover{
            background-color: $color-blue;
        }
    }
}