@import './basics';


.section{
    border: 1px solid $color-blue;
    background-color: $color-internal;
    border-radius: $br-default;
    padding: 25px;
    
    &-title, &-footer{
        position: relative;
        text-align: center;               
        color: $color-bluelight;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-image: linear-gradient(0.25turn, transparent, $color-bluelight, transparent) 1;

        h2{
            margin: 10px 0;
        }

    }

    &-footer{
        display: flex;
        border-bottom-width: 0;
        border-top-width: 1px;
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        color: $color-gray-text;
        margin: 20px;

        @media (max-width: 600px) {
            margin: 20px 10px;
        }
    
        &.personal{
            height: calc(100% - 71px);
        }

        &.projects{
            justify-content: center;
            gap: 15px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &.contact{
            margin-inline: 35px;
           gap: 15px;

            @media (max-width: 800px) {
                margin-inline: 10px;
            }

        }
        
    }

    &-contain{
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 880px) {
            flex-direction: column;
        }
    
    }
    
    &-person{
        pointer-events: all;
        position: relative;
        background-color: rgb(8, 8, 8);
        background-image: $linear-gradient-bg;
        border: 1px solid $color-blue;
        display: flex; 
        flex-direction: column;
        padding-inline: 30%;
        padding: 0;
        border-radius: $br-default;
        grid-area: first;
        height: fit-content;
        

        &-contain{
            width: 200px;
            height: 200px;
            background-color: $color-darkblue;
            border-radius: 100%;
        }

        &-buttons{
            position: absolute;
            z-index: 30;
            margin: 5px;
            right: 0;
            gap: 2px;
            top: 0;
            padding-right: 15%;
            display: flex;

            @media (max-width: 1200px) {
                padding-right: 7.5%;
            }

            @media (max-width: 600px) {
                padding-right: 0;
            }
        }

       &-img{
            width: 200px;
            height: 200px;
            border-radius: 100%;
       }
       
       &-details{

            @media (max-width: 880px) {
                h2{
                    text-align: center;
                }

                p{
                    text-align: center;
                }

            }

            h2{
                font-size: 32px;
                color: $color-bluelight;
            }
            h2, p{
                margin: 0;

            }
            p{
                color: white;
            }
       }

    }

    &-tech{
        background-color: rgb(8, 8, 8);
        border-radius: 0px 0px $br-default $br-default;
        padding: 10px;
        border: none;
        border-top: 1px solid $color-blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        background-image: $linear-gradient-bg;
        width: 100%;
        box-sizing: border-box;
        img{
            filter: invert(1);
        }
    }

    &-aboutme{
        padding: 0;
        grid-area: two;

    }

    &-personal{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: three;
    }

    &-projects, &-contact, &-blog{
        transition: all 0.5s;
        padding: 0;
        grid-area: two;
    }

    &-blog{
        .section-body{
            align-items: center;
            gap: 15px;
        }

        .blog-article{
            display: flex;
            margin-inline: 50px;
            align-items: flex-start;

            @media (max-width: 600px) {
                height: auto;
                margin: 15px;
            }

            &-image{
                border-radius: 10px;
                width: 100%;
                height: 256px;
                object-fit: cover;
            }

            h2, p{
                margin: 0;
            }

            h2{
                font-size: xx-large;
                color: $color-bluelight;
            }

            p{
                font-weight: 500;
            }

        }
    }
}


.person-init{
    display: flex;
    justify-content: center;
}