@import './basics';


.section{
    border: 1px solid $color-blue;
    background-color: $color-internal;
    border-radius: $br-default;
    padding: 25px;
    
    &-title, &-footer{
        text-align: center;               
        color: $color-bluelight;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-image: linear-gradient(0.25turn, transparent, $color-bluelight, transparent) 1;

        h2{
            margin: 10px 0;
        }

    }

    &-footer{
        display: flex;
        border-bottom-width: 0;
        border-top-width: 1px;
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        color: $color-gray-text;
        margin: 20px;

        &.personal{
            height: calc(100% - 71px);
        }

        &.projects{
            justify-content: center;
            gap: 15px;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &-contain{
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    &-person{
        background-color: rgb(8, 8, 8);
        background-image: $linear-gradient-bg;
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: $br-default;
        grid-area: first;
        height: fit-content;
       &-img{
            filter: saturate(0);
            width: 200px;
            height: 200px;
            border-radius: 100%;
       }
       
       &-details{
            h2{
                font-size: 32px;
                color: $color-bluelight;
            }
            h2, p{
                margin: 0;

            }
            p{
                display: inline;
                color: white;
            }
       }

    }

    &-tech{
        background-color: rgb(8, 8, 8);
        border-radius: 0px 0px $br-default $br-default;
        padding: 10px;
        border: none;
        border-top: 1px solid $color-blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        background-image: $linear-gradient-bg;
        width: 100%;
        box-sizing: border-box;
        img{
            filter: invert(1);
        }
    }

    &-aboutme{
        padding: 0;
        grid-area: two;

    }

    &-personal{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-projects, &-contact{
        transition: all 0.5s;
        padding: 0;
        grid-area: two;
    }
}
