@import './basics';

.blog{

    &-share{
        &-buttons{
            display: flex;
            
        }

    }

    &-social{
        display: flex;
        gap: 10%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    &-tag{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        pointer-events: none;
        justify-content: center;
        
        .tag{
            border-radius: 5px;
            color: black;
            padding-inline: 10px;
            background-color: white ;
            p{
                font-size: medium;
            }
        }

    }

    .tag-text{
        margin: 0;
    }

    &-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        background-color: $color-bg;
        width: 100%;

        .post-info-author{
            img{
                width: min(76px, 76px);
            }
            p{
                font-size: medium;
            }
        }
    }

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        a, a:active{
            color: $color-gray-text;
        }

        p{
            font-weight: 300 !important;
            margin-bottom: 20px !important;
        }

        h3, h4{
            margin-bottom: 5px;
            color: $color-bluelight;
        }

        h3{
            font-size: x-large;
        }

        &-img{
            border-radius: $br-default;
            width: 100%;
            filter: brightness(0.5);
            transition: filter 0.5s;

            &:hover{
                filter: brightness(1);
            }
        }

        &-double{
            box-sizing: border-box;
            display: grid;
            gap: 10px;
            grid-template-columns: 2fr 2fr;

            img{
                max-width: 100%;
                border-radius: $br-default;
                filter: brightness(0.5);
                transition: filter 0.5s;
    
                &:hover{
                    filter: brightness(1);
                }
            }

            @media (max-width: 960px) {
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                }

            }
        
        }

        &-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding-inline: 35px;

            img{
                border-radius: $br-default;
                width: 45%;
                transition: filter 0.5s;

                &:hover{
                    filter: brightness(1);
                }
            }

        }

        video{
            box-sizing: border-box;
            border-radius: $br-default;
            width: 90%;
            filter: brightness(0.5);
            transition: filter 0.5s;

            &:hover{
                filter: brightness(1);
            }

        }

        &-contributors{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;

            img{
                border-radius: 50%;
                width: min(48px, 48px);
                height: auto;
                transition: filter 0.2s, transform 0.2s;
                
                &:hover{
                    filter: brightness(1.2);
                }

                &:active{
                    transform: scale(0.95);
                }
            }
           
        }

        table{
            display: flex;
            justify-content: center;
            margin-block: 35px;

            tbody{
                background-color: $color-bg;
                border-bottom: 3px solid $color-bg;
                padding: 5px;
                border-radius: $br-default;

                tr{                        
                    th{
                        border-radius: 5px 5px 0 0;
                        border-bottom: 3px solid $color-blue;
                    }
                    td{
                        padding: 5px;
                        border-bottom: 3px solid $color-items;
                    }
                }

            }

        }

    }
}