@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes open-close {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.open-close-anim {
    animation: open-close 1s;
}

body::-webkit-scrollbar {
    display: none;
}